@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color1:#149ddd;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Menu_after::after{
  content: "";
  width: 0px;
  display: block;
  height: 0px;
  border: 0px solid var(--primary-color1)

}
.Menu_after:hover::after{
  content: "";
  transition: all;
  transition-duration: 400ms;
  width: 52px;
  height: 2px;
  background-color: var(--primary-color1);

}
.main{

}


.to-left{

}
@media (min-width:1260px) {
  
  .main .section {
    margin-left: 20px;
  }
}
@media (min-width:1448px) {
  .main{
    margin-left: -35px;
  }
  .main .section {
    margin-left: 10px;
  }
}

/*  */

@media (min-width:1580px) {
  .main{
    margin-left: -45px;
  }
 
}

@media (min-width:1628px){
  .main{
    margin-left: -85px;
  }
}
@media (min-width:1782px){
  .main{
    margin-left: -125px;
  }
 
}

.line-border::before{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--primary-color1);
  position: absolute;
  bottom: -15px;
  left: 0px;

}

/* Skills */

 .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}


.progress .skill .val {
  float: right;
  font-style: normal;
}

 .progress-bar-wrap {
  background: #066cf0;
  height: 10px;
}
.progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #010609;
}
.circle{
  
}

 
.circle::before{
  content: "";
  background-color: #fff;
  border: 2px solid #1f5297;
  border-radius: 50px;
  flex: none;
  height: 18px;
  left: -10px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 18px;
  will-change: var(--framer-will-change-override, transform);
}
